[Unit]
Description=Incus - Daemon (user unix socket)
Documentation=man:incus-user(1)

[Socket]
FileDescriptorName=unix
ListenStream=/var/lib/incus/unix.socket.user
SocketGroup=incus
SocketMode=0660
Service=incus-user.service

[Install]
WantedBy=sockets.target
