[Unit]
Description=Incus - agent
Documentation=man:incus-agent(1)
ConditionPathExists=/dev/virtio-ports/org.linuxcontainers.incus
Before=multi-user.target cloud-init.target cloud-init.service cloud-init-local.service
DefaultDependencies=no

[Service]
Type=notify
WorkingDirectory=-/run/incus_agent
ExecStartPre=/usr/libexec/incus/incus-agent-setup
ExecStart=/usr/libexec/incus/incus-agent
Restart=on-failure
RestartSec=5s
StartLimitInterval=60
StartLimitBurst=10
